.selected-pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.pokemon-card--with-level{
    width:40%;
    box-sizing: border-box;
}

.trainers-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.trainer-pokemon-level{
    width: 100%;
}
.trainer-pokemon-level input{
    width: 100%;
}

.trainer {
    width: 100%;
}
.trainer__pokemons {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    width: 100%;
}