section.combat {

    
    background-image : var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding: 10px;
}

section.combat .combat{
    background-color: #ffffffc1
}