section.combat {

    
    background-image : var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: bottom;
    padding: 10px;
    max-height: 50vh;
}

section.combat .combat{
    background-color: #ffffffc1
}

.stadium .pokemons-container,  .mis-pokemons .pokemons-container {
    display: flex;
    overflow-x: auto;
    justify-content: space-between;
    width: 100%;
}

.mis-pokemons{
    background-color: #ffffffc1;
    height: 40vh;
}
.mis-pokemons.view {
    height: 80vh ;
    width: 100%;
    box-sizing: border-box;
}
@media screen and (max-width: 768px) {
    .stadium .pokemons-container  {
        height: 150px;
        width: 100%;
    }
    .mis-pokemons  h2{
        margin-bottom: 0;
        margin-top:5px;
        font-size: 1.2em;
    }
    .mis-pokemons .pokemons-container .pokemon-card{
        min-width: 40%;
        max-width: 50%;
    }
    .mis-pokemons.view .pokemons-container .pokemon-card{
        min-width: 80%;
    }
    .stadium .combat-info h2, .stadium .combat-info p{
        margin: 0;
    }
    .pokeball-button{
        width: 30px;
        height: 30px;
    }
    
    
}

.pokeball-loading {
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
    animation: rotate 1s infinite;

}

.loading-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg)
    }
    
}